<div ng-if="message" class="well text-center lightGreenBack">
	{{message}}
</div>
<div class="row">
	<button style="width:120px;margin-right: 15px;margin-bottom: 5px;" ng-click="back()" class="btn btn-default pull-right">Retour</button>
</div>
<div  class="well">
	<h1>Dépendances</h1>
	<div class="row">
		<a style="margin-right: 10px;" class="pull-right" data-toggle="tooltip" title="Ajouter dépendance"><button style="margin-bottom: 10px;" class="btn btn-info" data-toggle="modal" data-target="#myModal">Ajouter</button></a>
	</div>
	<div class="row">
		<table ng-table="addictions" class="table table-condensed table-bordered table-striped">
			<tr ng-repeat="addict in $data">
				<td class="text-center" data-title="'Dépendance'">ID: {{addict.addiction_id_question}} - Titre: {{addict.title}} </td>
				<td class="text-center" data-title="'Delete'">
					<a data-toggle="tooltip" title="Supprimer"><button ng-if="confirmDeleteAddiction.addict != addict.id" class="btn btn-danger fa fa-trash" ng-click="deleteAddictionConfirm(true,addict.id)"></button></a>
					<a data-toggle="tooltip" title="Non"><button ng-if="confirmDeleteAddiction.addict == addict.id" class="btn btn-danger fa fa-times" ng-click="deleteAddictionConfirm(false)"></button></a>
					<a data-toggle="tooltip" title="Oui"><button ng-if="confirmDeleteAddiction.addict == addict.id" class="btn btn-success fa fa-check" ng-click="deleteAddiction(addict)"></button></a>
				</td>
			</tr>
		</table>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter un lien</h4>
      </div>
      <div class="modal-body">

		  <form>
			  <div class="form-group">
  				<select  class="form-control">
  					<option selected disabled value="">Choisir une question</option>
  					<option ng-repeat="questionOne in questionList" ng-click="getQuestion(questionOne)">
  					ID: {{questionOne.id}} - Titre: {{questionOne.title}}
  					</option>
  				</select>
  			</div>
		  </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" ng-click="createAddiction(selectedQuestion.id)" data-dismiss="modal">Valider</button>
      </div>
    </div>
  </div>
</div>
