<div ng-if="game.title" class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Partie en cours : {{game.title}}</h4>
		</div>
		<div class="panel">
			<div class="panel-body">
				<div>Durée: {{game.time}} minutes</div>
				<div ng-if="game.playing > 0" class="fontGreen">Nombre de parties en cours : {{game.playing}}</div>
				<div ng-if="game.playing == 0">Nombre de parties en cours : {{game.playing}}</div>
				<div ng-if="game.played > 0">Nombre de parties jouées : {{game.played}}</div>
				<div ng-if="game.played == 0" class="fontRed">Nombre de parties jouées : {{game.played}}</div>
				<div ng-if="game.aborted > 0" class="fontRed">Abandonnées : {{game.aborted}}</div>
				<div ng-if="game.aborted == 0" class="fontGreen">Abandonnées : {{game.aborted}}</div>
				<div ng-if="game.timeout > 0" class="fontOrange">Hors délai : {{game.timeout}}</div>
				<div ng-if="game.timeout == 0" class="fontGreen">Hors délai : {{game.timeout}}</div>
				<div ng-if="game.success > 0" class="fontGreen">Réussies : {{game.success}}</div>
				<div ng-if="game.success == 0">Réussies : {{game.success}}</div>
				<div ng-if="game.timeout > 0" class="fontStrange">Sans statut : {{game.unknow}}</div>
				<div ng-if="game.timeout == 0" class="fontGreen">Sans statut : {{game.unknow}}</div>
			</div>
		</div>
	</div>
</div>
<div ng-if="!game.title" class="text-center">
	<h2>Pas de partie en cours!</h2>
</div>
