<form class="" ng-submit="create()" ng-controller="createCtrl">
	<div class="form-group">
		<label>Titre</label>
		<input ng-model="data.title" type="text" class="form-control">
	</div>
	<div class="form-group">
		<label>Temps (en minutes)</label>
		<input ng-model="data.time" type="text" class="form-control">
	</div>
	<div class="form-group">
		<label>Règles</label>
		<textarea ng-model="data.rules" class="form-control" rows="3"></textarea>
	</div>
	<div class="form-group">
		<label>Intro</label>
		<textarea ng-model="data.intro" class="form-control" rows="3"></textarea>
	</div>
	<div class="form-group">
		<label>Message menu</label>
		<textarea ng-model="data.menu" class="form-control" rows="3"></textarea>
	</div>
	<div class="form-group">
		<label>Message conclusion</label>
		<textarea ng-model="data.conclusion" class="form-control" rows="3"></textarea>
	</div>
	<div class="form-group">
		<label>Message timeout</label>
		<textarea ng-model="data.timeout" class="form-control" rows="3"></textarea>
	</div>
	<div class="form-group">
		<label>Message abandon</label>
		<textarea ng-model="data.aborted" class="form-control" rows="3"></textarea>
	</div>
	<button type="submit" class="btn btn-info pull-right buttonEspace">Valider</button>
	<button ng-click="back()" class="btn btn-default pull-right buttonEspace">Annuler</button>
</form>
