<form class="" ng-submit="saveGameChanges()" ng-controller="editGameCtrl">
	<div class="form-group">
		<label>Titre</label>
		<input ng-model="game.title" type="text" class="form-control">
	</div>
	<div class="form-group">
		<label>Temps (en minutes)</label>
		<input ng-model="game.time" type="text" class="form-control">
	</div>
	<div class="form-group">
		<label>Règles</label>
		<textarea ng-model="game.rules" class="form-control" rows="3"></textarea>
	</div>
	<div class="form-group">
		<label>Intro</label>
		<textarea ng-model="game.intro" class="form-control" rows="3"></textarea>
	</div>
	<div class="form-group">
		<label>Message menu</label>
		<textarea ng-model="game.menu" class="form-control" rows="3"></textarea>
	</div>
	<div class="form-group">
		<label>Message conclusion</label>
		<textarea ng-model="game.conclusion" class="form-control" rows="3"></textarea>
	</div>
	<div class="form-group">
		<label>Message timeout</label>
		<textarea ng-model="game.timeout" class="form-control" rows="3"></textarea>
	</div>
	<div class="form-group">
		<label>Message abandon</label>
		<textarea ng-model="game.aborted" class="form-control" rows="3"></textarea>
	</div>
	<button type="submit" class="btn btn-info pull-right buttonEspace">Valider</button>
	<button ng-click="back()" class="btn btn-default pull-right buttonEspace">Annuler</button>

</form>
