<div ng-if="message" class="well text-center lightGreenBack">
	{{message}}
</div>
<div class="row">
	<button style="width:120px;margin-right: 15px;margin-bottom: 5px;" ng-click="back()" class="btn btn-default pull-right">Retour</button>
</div>
<div class="well scroll">
	<div class="row">
		<h1>Questions</h1>
			<a style="margin-right: 10px;" class="pull-right" data-toggle="tooltip" title="Ajouter question"><button ng-click="clearNew()" style="margin-bottom: 10px;" class="btn btn-info" data-toggle="modal" data-target="#myModal">Ajouter nouvelle quesiton</button></a>
		<form>
			<table ng-table="questions" class="table table-condensed table-bordered table-striped">
				<tr ng-repeat="question in $data">
					<td class="text-center" data-title="'Titre'">
						<p><input ng-change="infoChange(question.id)" style="width:200px" ng-model="question.title" type="text" class="form-control"></p>
					</td>
					<td class="text-center" data-title="'Reponse'">
						<p><input ng-change="infoChange(question.id)" style="width:150px" ng-model="question.reponse" type="text" class="form-control"></p>
					</td>
					<td class="text-center" data-title="'Reponse Secour'">
						<p><input ng-change="infoChange(question.id)" style="width:150px" ng-model="question.trouble" type="text" class="form-control"></p>
					</td>
					<td class="text-center" data-title="'Text'">
						<textarea ng-change="infoChange(question.id)" style="width:200px; height:130px" ng-model="question.text" type="text" class="form-control"></textarea>
					</td>
					<td class="text-center" data-title="'Type'">
						<p>
							{{question.file}}
						</p>
						<p>
							<img ng-if="question.type == 0" src="../app/files/{{question.file}}" alt="" style="width:150px">
							<audio ng-if="question.type == 1" controls>
								<source src="../app/files/{{question.file}}" type="audio/mpeg">
							</audio>
						</p>
						<p>
							<button ng-click="upload(question.id)" style="margin-bottom: 10px;" class="btn btn-info" data-toggle="modal" data-target="#myModal2">upload</button>
						</p>
					</td>
					<td class="text-center" data-title="'Plus'">
						<p><a data-toggle="tooltip" title="Editer indice"><button style="width:120px"ng-click="hint(question.id)" class="btn btn-pink">Indice</button></a></p>
						<p><a data-toggle="tooltip" title="Editer dépendance"><button style="width:120px" ng-click="addiction(question.id)" class="btn btn-brown">Dépendance</i></button></a></p>
						<p><a data-toggle="tooltip" title="Editer Approximatif"><button style="width:120px" ng-click="nearby(question.id)" class="btn btn-violet">Approximatif</i></button></a></p>
					</td>
					<td class="text-center">
						<p>
							<button style="width:120px" ng-if="confirmDeleteQuestion.question != question.id" class="btn btn-danger" ng-click="deleteQuestionConfirm(true,question.id)">Supprimer</button>
							<button ng-if="confirmDeleteQuestion.question == question.id" class="btn btn-danger fa fa-times" ng-click="deleteQuestionConfirm(false)"></button>
							<button ng-if="confirmDeleteQuestion.question == question.id" class="btn btn-success fa fa-check" ng-click="deleteQuestion(question.id)"></button>
						</p>
						<p>
							<a ng-if="showSave[question.id]"><button style="width:120px" ng-click="saveQuestionChanges(question)" type="submit" class="btn btn-success">Sauvegarder</button></a>
						</p>
						<p>
							<a ng-if="showSave[question.id]"><button style="width:120px" ng-click="undoChange(question.id)" type="submit" class="btn btn-default">Annuler</button></a>
						</p>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">Ajouter question</h4>
	  </div>
	  <div class="modal-body">
		 <form>
			<div class="form-group">
				<label>Titre</label>
				<input ng-model="data.title" type="text" class="form-control">
			</div>
			<div class="form-group">
				<label>Question</label>
				<input ng-model="data.question" type="text" class="form-control">
			</div>
			<div class="form-group">
				<label>Réponse</label>
				<input ng-model="data.reponse" type="text" class="form-control">
			</div>
			<div class="form-group">
				<label>Fichier</label>
				<div class="file-upload">
					   <input type="file" id="file" file-model="myFile"/>
				</div>
			</div>
			<div class="form-group">
				<label>Texte</label>
				<textarea ng-model="data.text" class="form-control" rows="3"></textarea>
			</div>
			<div class="form-group">
				<label>Code de secours</label>
				<input ng-model="data.trouble" type="text" class="form-control">
			</div>
		  </form>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
		<button type="button" class="btn btn-primary" ng-click="createQuestion(data)" data-dismiss="modal">Valider</button>
	  </div>
	</div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel2">Ajouter fichier</h4>
			</div>
			<div class="modal-body">
				<div class="file-upload">
					<input type="file" id="file" file-model="myFile"/>
				</div>
				<div style="color:red">
					Une fois valider le fichier sera uploader et automatiquement valider!
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
				<button type="button" ng-click="updateUpload(question)" class="btn btn-primary" data-dismiss="modal">Valider</button>
			</div>
		</div>
	</div>
</div>
