<div ng-if="message" class="well text-center lightGreenBack">
	{{message}}
</div>
<div class="row">
	<button style="width:120px;margin-right: 15px;margin-bottom: 5px;" ng-click="back()" class="btn btn-default pull-right">Retour</button>
</div>
<div class="well">
	<h1>Indices</h1>
	<div class="row"><p>
		<a ng-if="showSave"><button ng-click="undoChange()" class="btn btn-default">Annuler</button></a>
		<a ng-if="showSave"><button ng-click="saveHintChanges(hints)" type="submit" class="btn btn-success">Sauvegarder</button></a>
		<a style="margin-right: 10px;" class="pull-right" data-toggle="tooltip" title="Ajouter"><button style="margin-bottom: 10px;" class="btn btn-info" data-toggle="modal" data-target="#myModal">Ajouter</button></a>
	</div>
	<div class="row">
		<table ng-table="hints" class="table table-condensed table-bordered table-striped">
			<tr ng-repeat="hint in $data">
				<td class="text-center" data-title="'Indice'"><input ng-change="infoChange()" ng-model="hint.hint" type="text" class="form-control"></td>
				<td  style="width:250px" class="text-center" data-title="'Délai (minutes)'"><input ng-change="infoChange()" style="width:250px" ng-model="hint.time" type="text" class="form-control"></td>
				<td class="text-center" data-title="'Delete'">
						<a data-toggle="tooltip" title="Supprimer"><button ng-if="confirmDeleteHint.hint != hint.id" class="btn btn-danger" ng-click="deleteHintConfirm(true,hint.id)">Supprimer</button></a>
						<a data-toggle="tooltip" title="Non"><button ng-if="confirmDeleteHint.hint == hint.id" class="btn btn-danger" ng-click="deleteHintConfirm(false)">Non</button></a>
						<a data-toggle="tooltip" title="Oui"><button ng-if="confirmDeleteHint.hint == hint.id" class="btn btn-success" ng-click="deleteHint(hint)">Oui</button></a>
				</td>
			</tr>
		</table>
	</div>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter indice</h4>
      </div>
      <div class="modal-body">

		  <form>
		  	<div class="form-group">
		  		<label>Indice</label>
		  		<input ng-model="data.hint" type="text" class="form-control">
		  	</div>
			<div class="form-group">
		  		<label>Délai</label>
		  		<input ng-model="data.time" type="text" class="form-control">
		  	</div>
		  </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" ng-click="createHint(data)" data-dismiss="modal">Valider</button>
      </div>
    </div>
  </div>
</div>
