<!-- LOGIN FORM -->
<div ng-if="administration == 'login'" class="text-center" style="padding:50px 0">
	<div class="logo">login</div>
	<div class="login-form-1">
		<form class="text-left" ng-submit="logme()" ng-controller="homeCtrl">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<input ng-model="login.mail" type="text" class="form-control" placeholder="Email">
					</div>
					<div class="form-group">
						<input ng-model="login.password" type="password" class="form-control" placeholder="Mot de passe">
					</div>
				</div>
				<button type="submit" class="login-button"><i class="fa fa-sign-in"></i></button>
			</div>
			<div>
				<p class="fontRed">{{error}}</p>
			</div>
		</form>
	</div>
</div>

<!-- REGISTRATION FORM -->
<div ng-if="administration == 'register'" class="text-center" style="padding:50px 0" >
	<div class="logo">Créer le premier administrateur</div>
	<div class="login-form-1">
		<form class="text-left" ng-submit="create()" ng-controller="homeCtrl">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<input ng-model="register.mail" type="text" class="form-control" placeholder="Email" required>
					</div>
					<div class="form-group">
						<input ng-model="register.password" type="password" class="form-control" placeholder="Mot de passe" required>
					</div>
					<div class="form-group">
						<input ng-model="register.confirm" type="password" class="form-control" placeholder="Confirmer le mot de passe" required>
					</div>
				</div>
				<button ng-disabled="form.$invalid" type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div>
				<p class="fontRed">{{error}}</p>
			</div>

		</form>
	</div>

</div>

<!-- FORGOT PASSWORD FORM -->
<div ng-if="forgot" class="text-center" style="padding:50px 0">
	<div class="logo">forgot password</div>
	<div class="login-form-1">
		<form class="text-left">
			<div class="etc-login-form">
				<p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
			</div>
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="fp_email" class="sr-only">Adresse email</label>
						<input type="text" class="form-control" placeholder="Adresse email">
					</div>
				</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>Vous avez déjà un compte ? <a href="#">Connectez vous ici</a></p>
				<p>Nouvel utilisateur ? <a href="#">Créer un nouveau compte</a></p>
			</div>
		</form>
	</div>
</div>
