<div ng-if="message" class="well text-center lightGreenBack">
	{{message}}
</div>
<div class="row">
	<button style="width:120px;margin-right: 15px;margin-bottom: 5px;" ng-click="back()" class="btn btn-default pull-right">Retour</button>
</div>
<div class="well">
	<h1>Réponses approximatives</h1>
	<div class="row">
		<a ng-if="showSave"><button ng-click="undoChange()" class="btn btn-default">Annuler</button></a>
		<a ng-if="showSave"><button ng-click="saveNearbyChanges(nearbys)" type="submit" class="btn btn-success">Sauvegarder</button></a>

		<a style="margin-right: 10px;" class="pull-right" data-toggle="tooltip" title="Ajouter"><button style="margin-bottom: 10px;" class="btn btn-info" data-toggle="modal" data-target="#myModal">Ajouter</button></a>
	</div>
	<div class="row">
		<table ng-table="nearbys" class="table table-condensed table-bordered table-striped">
			<tr ng-repeat="nearby in $data">
				<td class="text-center" data-title="'ID'">{{nearby.id}}</td>
				<td class="text-center" data-title="'Réponse donnée'"><input ng-change="infoChange()" ng-model="nearby.reponse" type="text" class="form-control"></td>
				<td class="text-center" data-title="'Répondre'"><input ng-change="infoChange()" ng-model="nearby.near_answer" type="text" class="form-control"></td>
				<td class="text-center" data-title="'Delete'">
					<a data-toggle="tooltip" title="Supprimer"><button ng-if="confirmDeleteNearby.nearby != nearby.id" class="btn btn-danger fa fa-trash" ng-click="deleteNearbyConfirm(true,nearby.id)"></button></a>
					<a data-toggle="tooltip" title="Non"><button ng-if="confirmDeleteNearby.nearby == nearby.id" class="btn btn-danger fa fa-times" ng-click="deleteNearbyConfirm(false)"></button></a>
					<a data-toggle="tooltip" title="Oui"><button ng-if="confirmDeleteNearby.nearby == nearby.id" class="btn btn-success fa fa-check" ng-click="deleteNearby(nearby)"></button></a>
				</td>
			</tr>
		</table>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter une réponse approximative</h4>
      </div>
      <div class="modal-body">

		  <form>
		  	<div class="form-group">
		  		<label>Réponse donnée</label>
		  		<input ng-model="data.reponse" type="text" class="form-control">
		  	</div>
			<div class="form-group">
		  		<label>Réponse retournée</label>
		  		<input ng-model="data.near_answer" type="text" class="form-control">
		  	</div>
		  </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" ng-click="createNearby(data)" data-dismiss="modal">Valider</button>
      </div>
    </div>
  </div>
</div>
