<div ng-if="message" class="well text-center lightGreenBack">
	{{message}}
</div>
<div ng-if="redMessage" class="well text-center lightRedBack">
	{{redMessage}}
</div>

<div class="well paddingBot40">
	<div class="row">
		<a style="margin-right: 10px;" class="pull-right" data-toggle="tooltip" title="Créer partie"><button class="btn btn-info" ng-click="create()">Créer nouvelle partie</button></a>
	</div>
	<div class="row">
		<h1>Parties</h1>
		<table ng-table="games" class="table table-condensed table-bordered table-striped">
			<tr ng-repeat="game in $data">
				<td class="text-center" data-title="'Dupliquer'">
					<button class="btn btn-success fa fa-files-o" ng-click="clone(game.id)"></button>
				</td>
				<td class="text-center" data-title="'Actif'" sortable="'active'">
					<p ng-if="game.active == '1'">
						<a data-toggle="tooltip" title="Désactiver partie"><button ng-if="game.active == '1'" class="btn btn-success fa fa-check" ng-click="desactive(game.id)"></button></a>
					</p>
					<p ng-if="game.active == '0'">
						<a data-toggle="tooltip" title="Activer partie"><button ng-if="game.active == '0'" class="btn btn-danger fa fa-times" ng-click="active(game.id)"></button></a>
					</p>
				</td>
				<td class="text-center" data-title="'Défaut'" sortable="'default_game'">
					<p ng-if="game.default_game == '1'">
						<a data-toggle="tooltip" title="Désactiver défaut"><button ng-if="game.default_game == '1'" class="btn btn-success fa fa-check" ng-click="desactiveDefault(game.id)"></button></a>
					</p>
					<p ng-if="game.default_game == '0'">
						<a data-toggle="tooltip" title="Activer défaut"><button ng-if="game.default_game == '0'" class="btn btn-danger fa fa-times" ng-click="activeDefault(game.id)"></button></a>
					</p>
				</td>
				<td data-title="'Titre'" filter="{ title: 'text'}" sortable="'title'">{{game.title}}</td>
				<td data-title="''" class="text-center">
					<p>
						<button style="width:135px"class="btn btn-primary" ng-click="editGame(game.id)">Editer partie</button>
					</p>
					<p>
						<button style="width:135px" class="btn btn-info" ng-click="editGamePlus(game.id)">Editer contenu</button>
					</p>
				</td>
				<td class="text-center">
					<a data-toggle="tooltip" title="Effacer partie"><button ng-if="confirmDeleteGame.game != game.id" class="btn btn-danger" ng-click="deleteGameConfirm(true,game.id)">Supprimer Partie</button></a>
					<a data-toggle="tooltip" title="Non"><button ng-if="confirmDeleteGame.game == game.id" class="btn btn-danger" ng-click="deleteGameConfirm(false)">Non</button></a>
					<a data-toggle="tooltip" title="Oui"><button ng-if="confirmDeleteGame.game == game.id" class="btn btn-success" ng-click="deleteGame(game.id,game.title)">Oui</button></a>
				</td>
				<td class="text-center">
					<button ng-click="testGame(game.id)"class="btn btn-default navbar-btn"><i class="fa fa-gamepad" aria-hidden="true"></i> test</button>
				</td>
			</tr>
		</table>
	</div>
</div>
