<div ng-if="message" class="well text-center lightGreenBack">
	{{message}}
</div>
<div class="" ng-if="selectedGameDetail">
<div class="row">
	<div class="form-group">
		<select  class="form-control">
			<option selected disabled value="">Choisir une partie</option>
			<option ng-repeat="selectedGame in gameList" ng-click="getScores(selectedGame)">
			ID: {{selectedGame.id}} - Titre: {{selectedGame.title}}
			</option>
		</select>
	</div>
	<h2>Partie: {{selectedGameDetail.id}} -  {{selectedGameDetail.title}}</h2>
	<div class="pull-right" style="margin-bottom:5px">
		<p>
			<a data-toggle="tooltip" title="Supprimer team sans statut de fin"><button style="width:250px" class="btn btn-warning" ng-click="deleteUglyTeams(selectedGameDetail.id)">Nettoyer bdd equipes (partie)</button></a>
		</p>
		<p>
			<a data-toggle="tooltip" title="Supprimer toutes les team de la partie"><button style="width:250px" ng-if="confirmDeleteTeams.game != selectedGameDetail.id" class="btn btn-danger" ng-click="deleteTeamConfirm(true,selectedGameDetail.id)">Supprimer bdd equipes (partie)</button></a>
			<a data-toggle="tooltip" title="Non"><button ng-if="confirmDeleteTeams.game == selectedGameDetail.id" class="btn btn-danger fa fa-times" ng-click="deleteTeamConfirm(false)"></button></a>
			<a data-toggle="tooltip" title="Oui"><button ng-if="confirmDeleteTeams.game == selectedGameDetail.id" class="btn btn-success fa fa-check" ng-click="deleteTeams(selectedGameDetail.id)"></button></a>
		</p>
	</div>
</div>

	<div class="row well scroll">

		<table ng-table="scoreTable" class="table table-condensed table-bordered table-striped" show-filter="true">
			<tr ng-repeat="score in $data">
				<td title="'Equipe'" filter="{ name: 'text'}" sortable="'name'">
					{{score.name}}
				</td>
				<td title="'Statut'" sortable="'end_type'" class="text-center">
					<p ng-if="score.end_type == 'aborted'">Abandon <a data-toggle="tooltip" title="Probleme"><i style="color:red" ng-if="score.trouble == true" class="fa fa-ambulance" aria-hidden="true"></i></a> </p>
					<p ng-if="score.end_type == 'time out'">Time Out <a data-toggle="tooltip" title="Probleme"><i style="color:red" ng-if="score.trouble == true" class="fa fa-ambulance" aria-hidden="true"></i></a> </p>
					<p ng-if="score.end_type == 'success'">Terminer <a data-toggle="tooltip" title="Probleme"><i style="color:red" ng-if="score.trouble == true" class="fa fa-ambulance" aria-hidden="true"></i></a> </p>
				</td>
				<td title="'Temps'"  class="text-center">
					<p>Temps questions : {{score.time_question}}</p>
					<p>Menu : {{score.time_menu}}</p>
					<a ng-if="score.penality_state == 1" data-toggle="tooltip" title="Malus"><p class="fontRed">Malus : {{score.penality}}</p></a>
					<a ng-if="score.penality_state == 0" data-toggle="tooltip" title="Malus"><p class="fontGreen">Malus : {{score.penality}}</p></a>
				</td>
				<td title="'Temps total'" sortable="'time_total'" class="text-center">
					{{score.time_total}}
				</td>
				<td title="'Temps Questions'" class="text-center">
					<button id="test" data-backdrop="false" data-tname="{{score.name}}" data-toggle="modal" data-target="#myModal" ng-click="questionScores(score.id_team)" type="button" class="btn btn-primary "><i class="fa fa-search-plus" aria-hidden="true"> Voir</i></button>
				</td>
			</tr>
		</table>

	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Equipe: </h4>
			</div>
			<div class="modal-body">
				<table ng-table="questionScore" class="table" show-filter="false">
					<tr ng-repeat="qScore in $data">
						<td title="'Question'" filter="{ id_question: 'text'}">
							{{qScore.title}}
						</td>
						<td title="'Temps'" class="text-center">
							<p ng-if="qScore.message == 'Not Ended'">Pas fini</p>
							<p ng-if="qScore.message == 'Not Begin'">Pas commencer</p>
							<p ng-if="qScore.message == 'Trouble'">{{qScore.time}} <a data-toggle="tooltip" title="Probleme"><i class="fa fa-ambulance" style="color:red" aria-hidden="true"></i></a></p>
							<p ng-if="qScore.message != 'Not Ended' && qScore.message != 'Not Begin' && qScore.message != 'Trouble'">{{qScore.time}}</p>
						</td>
						<td title="'Malus'" class="text-center fontRed" >
							<p ng-if="qScore.state == 1" class=" fontRed">{{qScore.penality}}</p>
							<p ng-if="qScore.state == 0" class="fontGreen">{{qScore.penality}}</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer" style="margin-top: 30px;">
			<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>

<div class="text-center" ng-if="!selectedGameDetail">
	<h2>Aucune partie existante.</h2>
</div>
