<div class="well">
	<h1>Remerciements</h1>
	<div class="row"><p>
		<a ng-if="showSave"><button ng-click="undoChange()" class="btn btn-default">Annuler</button></a>
		<a ng-if="showSave"><button ng-click="saveThanksChanges(thanks_list)" type="submit" class="btn btn-success">Sauvegarder</button></a>
		<a style="margin-right: 10px;" class="pull-right" data-toggle="tooltip" title="Ajouter"><button style="margin-bottom: 10px;" class="btn btn-info" data-toggle="modal" data-target="#myModal">Ajouter</button></a>
	</div>
	<div class="row">
		<table ng-table="thanks_list" class="table table-condensed table-bordered table-striped">
			<tr ng-repeat="unit in $data">
				<td class="text-center" data-title="'Partie'">
					<select ng-change="infoChange(unit.id)" class="form-control" ng-model="unit.id_game">
						<option ng-model="gameOne.id_game" value="global">Global</option>
						<option ng-value="gameOne.id" ng-repeat="gameOne in gamesList" ng-click="getGame(gameOne.id)" >
						{{gameOne.title}}
						</option>
					</select>
				</td>
				<td class="text-center" data-title="'Remerciements'">
					<input ng-change="infoChange(unit.id)" ng-model="unit.thx" type="text" class="form-control">
				</td>
				<td class="text-center">
					<p>
						<button style="width:120px" ng-if="confirmDeleteThanks.thanks != unit.id" class="btn btn-danger" ng-click="deleteThanksConfirm(true,unit.id)">Supprimer</button>
						<button ng-if="confirmDeleteThanks.thanks == unit.id" class="btn btn-danger fa fa-times" ng-click="deleteThanksConfirm(false)"></button>
						<button ng-if="confirmDeleteThanks.thanks == unit.id" class="btn btn-success fa fa-check" ng-click="deleteThanks(unit.id)"></button>
					</p>
					<p>
						<a ng-if="showSave[unit.id]"><button style="width:120px" ng-click="saveThanksChanges(unit)" type="submit" class="btn btn-success">Sauvegarder</button></a>
					</p>
					<p>
						<a ng-if="showSave[unit.id]"><button style="width:120px" ng-click="undoChange(unit.id)" type="submit" class="btn btn-default">Annuler</button></a>
					</p>
				</td>
			</tr>
		</table>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter remerciements</h4>
      </div>
      <div class="modal-body">

		  <form>
			  <div class="form-group">
			  <select class="form-control" ng-model="data.id_game">
				  <option value="">Global</option>
				  <option ng-value="gameOne.id" ng-repeat="gameOne in gamesList" ng-click="getGame(gameOne.id)" >
				  {{gameOne.title}}
				  </option>
			  </select>
			  </div>
		  	<div class="form-group">
		  		<label>Remerciements</label>
		  		<input ng-model="data.thx" type="text" class="form-control">
		  	</div>

		  </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" ng-click="createThanks(data)" data-dismiss="modal">Valider</button>
      </div>
    </div>
  </div>
</div>
