.footerBackground
{
	background-color: black;
	color: white;
}
.noMargBottom
{
	margin-bottom: 0px;
}
.backWell
{
background-color: white;
}
.hint{
	background-color: #ccdeff;
}
.hintBtn:hover{
	background:rgba(0,0,0,.4);
  box-shadow:0 1px 0 rgba(255,255,255,.4);
}
.spaceColumn{
	padding-right: 12px;
}
.marginTop10{
	margin-top: 10px;
}
.paddingBot40{
	padding-bottom: 40px;
}
.hintButton{
	border-radius:50%;
}
.infoBox{
	background-color: #f0f0f5;
}

.hint{
	background-color: #ffffcc
}

.givenAnswer{
	background-color: #ccffcc
}

audio{
	width:185px;
}
.badReponseWell{
	background-color: #ffb3b3;
}
.fullSpace{
	width: 100%;
}
.upDownMargin5px{
	margin-top: 5px;
	margin-bottom: 5px;
}


.navbar-toggle {
  float: left !important;
  margin-left: 15px;
}
.navbar-right > li {
  float: left;
}

.buttonCenterM5{
	margin-left: 5px;
	margin-right: 5px;
}
.buttonWidth70{
	width: 70;
}

.fontRed{
	color:red;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.centerV {
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

.transition {

	font-family: : arial;
	font-size: 16px;
	opacity:0;
	transition: opacity	1s ease;
}
.transition.active {
opacity: 1
}

.fixBottom{
    position:fixed;
    bottom:0px;
}

.specialFont{
	font-family: "Courier";
}
