<div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Intrigue</h4>
		</div>
		<div class="panel">
			<div class="panel-body">
				<p style="white-space: pre-wrap;">{{game.intro}}</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Regles</h4>
		</div>
		<div class="panel">
			<div class="panel-body">
				<p style="white-space: pre-wrap;">{{game.rules}}</p>
			</div>
		</div>
	</div>
</div>
<form name="form" ng-submit="understand()" role="form">
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="username">Nom de votre l'équipe</label>
				<input type="text" class="form-control" name="teamName" ng-model="teamName" required ng-readonly="testing">
				<br>
				<button class="btn btn-default pull-right" ng-disabled="form.$invalid" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Ok j'ai compris!</button>
			</div>
		</div>
	</div>
</form>

<br>
<div class="alert alert-danger" ng-if="cheat">
	<strong>BOUHHHH!</strong> {{cheat}}
</div>
<div class="alert alert-danger" ng-if="error">
	<strong>Attention!</strong> {{error}}
</div>
