<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Extra</h4>
        </div>
        <div class="panel">
            <div class="panel-body">
				<p style="white-space: pre-wrap;">{{game.menu}}</p>
            </div>
        </div>
    </div>
</div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Questions</h4>
        </div>
        <div class="panel">
            <div class="panel-body">
                <table ng-if="questions" style="width:100%">
                    <tr ng-repeat="data in questions">
                        <td >
							<button ng-disabled="buttonQuestionDisabled[$index]" ng-class="buttonQuestionColor[$index]" class="btn fullSpace upDownMargin5px" ng-click="question(data.id)" href="">{{data.title}}
							</button>
						</td>
						<td>
						<i style="margin-left:-20px" ng-class=" buttonQuestionSpan[$index]" aria-hidden="true"></i>
						</td>
                    </tr>
                </table>
				<p ng-if="!questions" class="text-center"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span></p>
            </div>
        </div>
    </div>
</div>
