<div class="well text-center">
	<strong>{{data.title}}</strong>
</div>
<div ng-if="image">
	<div class="well text-center">
		<p><img src="files/{{data.file}}" alt="" style="max-width:100%;max-height:100%; width:400px"></p>
		<p>{{data.text}}</p>

	</div>
</div>
<div ng-if="sound">
	<div class="well text-center">
		<p>
			<audio controls>
				<source src="files/{{data.file}}" type="audio/mpeg">
			</audio>
		</p>
		 <p>{{data.text}}</p>
	</div>
</div>
<div ng-if="text">
	<div class="well">
		<p style="white-space: pre-wrap;">{{data.text}}</p>
	</div>
</div>
<div class="well">
	<p class="text-center">Question: {{data.question}}</p>
</div>
<div ng-if="!answers[data.id]" style="margin-bottom:20px">
	<div class="text-center">
		<span ng-repeat="hint in hints">
			<button ng-if="!hintsShow[hint.id]"  ng-click="getHint(hint)" class="btn" ng-class="hintButton[$index]" type="button" style="margin-right:5px;margin-left:5px;">Indice<br> <span ng-if="hint.timeleft >= 0">(Malus {{hint.timeleftFormated}})</span>
			</button>
		</span>
	</div>
</div>

<div ng-if="hintsShow[hint.id]" class="well hint text-center" ng-repeat="hint in hints">
	<p>Indice: {{hintsShow[hint.id]}}</p>
</div>

<div ng-if="badReponse" class="well badReponseWell text-center">
	{{badReponse}}
</div>
<div ng-if="!answers[data.id]" class="well">
	<form name="form" ng-submit="answer(reponse)" role="form">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Réponse" ng-model="reponse">
			<span class="input-group-btn">
				<button ng-click="answer(reponse)" class="btn btn-primary" type="button">Validez!
			</button>
			</span>
		</div>
	</form>
</div>

<div ng-if="answers[data.id]" class="well text-center givenAnswer">
	réponse: {{answers[data.id]}}
</div>
