<div style="margin-left:10px;margin-right:10px;margin-top:10px;">
	<nav  class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<div class="">
			<div class="navbar-header navbar-left pull-left">
				<img alt="DSI 110" src="images/blanc.png" style="width:50px;margin-right:11px;">
			</div>
			<div class="navbar-header">
				<ul class="nav navbar-nav" style="margin-top: 0px;margin-bottom: 0px;">
					<button ng-if="loged" ng-click="home()" class="btn btn-default navbar-btn"><i class="fa fa-home" aria-hidden="true"></i> Accueil</button>
					<button ng-if="loged" ng-click="party()"class="btn btn-default navbar-btn"><i class="fa fa-gamepad" aria-hidden="true"></i> Parties</button>
					<button ng-if="loged" ng-click="scores()"class="btn btn-default navbar-btn"><i class="fa fa-trophy" aria-hidden="true"></i> Scores</button>
					<div class="btn-group">
						<button ng-if="loged" type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-cog" aria-hidden="true"></i> Applicatif <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
						<li><a href="" ng-click="thanks()">Remerciements</a></li>
						<li><a href="" ng-click="badAnswers()">Mauvaises réponses génériques</a></li>
						</ul>
					</div>
				</ul>
			</div>
			<!-- <div style="color:white;padding-right:5px" class="navbar-header pull-right">
				{{version}}
			</div> -->
		</div>
	</nav>
	<div class="well backWell paddingBot40">
		<section ui-view autoscroll="false"></section>
	</div>
</div>
<div class="navbar-fixed-bottom footerBackground">
	<div class="text-center center-block">
		<div class=" noMargBottom">
	Tableau d'administration
</div>
	</div>
</div>
