<div ng-show="showCommingSoon" class="text-center centerV">
	<img src="images/soon.png" alt="Comming Soon" width="100%" >
</div>

<div ng-show="showPanel" >
	<div style="margin-left:10px;margin-right:10px;margin-top:10px;">
		<nav  class="navbar navbar-default navbar-fixed-top navbar-inverse">
			<div class="">
				<div class="navbar-header navbar-left pull-left">
					<img alt="DSI 110" src="images/rouge.png" style="width:50px;margin-right:11px;">
				</div>
				<div class="navbar-header">
					<ul class="nav navbar-nav" style="margin-top: 0px;margin-bottom: 0px;">
						<button ng-if="questions" ng-click="menu()" type="button" class="btn btn-default navbar-btn"><i class="fa fa-list" aria-hidden="true"></i> Menu</button>
						<button ng-if="questions" type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#confirmAbandon"><i class="fa fa-sign-out" aria-hidden="true"></i>Abandon</button>
					</ul>
				</div>
				<!-- <div style="color:white;padding-right:5px" class="navbar-header pull-right">
					{{version}}
				</div> -->
			</div>
		</nav>
		<div class="well backWell paddingBot40">
			<div class="well" ng-if="showGameList">
				<form>
					<div class="form-group" >
						<select  class="form-control" ng-model="selectedQ">
							<option ng-value="gameOne.id" ng-repeat="gameOne in gameList" ng-click="getGame(gameOne.id)" >
							{{gameOne.title}}
							</option>
						</select>
					</div>
				</form>
			</div>
			<div class="panel panel-default ">
				<div class="panel-heading">
					<h4 class="panel-title">{{game.title}}</h4>
				</div>
				<div class="panel-body infoBox">
					<p class="pull-right {{timing}}" style="color:{{timeColor}}">{{timer}}</p>
					<p ng-if="team" class="specialFont">Code: {{team.code}}</p>
					<div ng-if="!team.code">
						<form name="form2" class="form-inline" ng-submit="backToParty(backCode)" role="form2">
							<div class="row">
								<div class="col-xs-12">
									<div class="form-inline">
										<label for="backCode">Retour partie</label>
										<input type="text" class="form-control" name="backCode" ng-model="backCode" placeholder="Insérer votre code" required>
										<button class="btn btn-default" ng-disabled="form2.$invalid" type="submit"><i class="fa fa-check" aria-hidden="true"></i> I'm Back!</button>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div style="margin-top:5px"class="alert alert-danger" ng-if="endBackCode">
						<strong>Impossible, </strong> {{endBackCode}}
					</div>
				</div>


			</div>
			<section ui-view autoscroll="false"></section>
		</div>
	</div>
	<div class="navbar-fixed-bottom footerBackground">
		<div class="text-center center-block">
			<div >
				<i class="noMargBottom transition" ng-class="fades">{{thanks.thx}}</i>
			</div>
		</div>

	</div>

	<!-- Modal -->
	<div class="modal fade" id="confirmAbandon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="confirmAbandon">Confirmation d'abandon!</h4>
	      </div>
	      <div class="modal-body">
	        Etes vous sûr de vouloir quitter?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
	        <button ng-click="exit()" data-dismiss="modal" type="button" class="btn btn-primary">Abandon</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
