.btn-pink{
	background-color: #ff66c1;
	color: black;
}
.btn-pink:hover{
	background-color: #e55bad;
}

.btn-violet{
	background-color: #b4a0dd;
	color: black;
}
.btn-violet:hover{
	background-color: #a08ec4;
}

.btn-brown{
	background-color: #896108;
	color: black;
}
.btn-brown:hover{
	background-color: #7b5707;
}


.btn-lightblue01{
	background-color: #629fed;
	color: white;
}
.btn-lightblue01:hover{
	background-color: #4c92eb;
	color: white;
}
