.footerBackground
{
	background-color: black;
	color: white;
}
.noMargBottom
{
	margin-bottom: 0px;
}
.backWell
{
background-color: white;
}
.hint{
	background-color: #ccdeff;
}
.hintBtn:hover{
	background:rgba(0,0,0,.4);
  box-shadow:0 1px 0 rgba(255,255,255,.4);
}
.spaceColumn{
	padding-right: 12px;
}
.marginTop10{
	margin-top: 10px;
}
.paddingBot40{
	padding-bottom: 40px;
}
.hintButton{
	border-radius:50%;
}
.infoBox{
	background-color: #f0f0f5;
}

.hint{
	background-color: #ffffcc
}

.lightGreenBack{
	background-color: #B0D996
}
.lightRedBack{
	background-color: #ce8a6b
}

.navbar-toggle {
  float: left !important;
  margin-left: 15px;
}
.navbar-right > li {
  float: left;
}

.buttonCenterM5{
	margin-left: 5px;
	margin-right: 5px;
}
.buttonWidth70{
	width: 70;
}

.fontRed{
	color:red;
}

.fontGreen{
	color:green;
}
.fontOrange{
	color:orange;
}
.fontStrange{
	color:#6d4010;
}


.buttonEspace{
	margin-left: 2px;
	margin-right: 2px;
}

div.scroll {
    overflow: auto;
    white-space: nowrap;
}

div.scroll div {
    display: inline-block;
    padding: 14px;
}
